* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #222;
    color: white;
}

/* means jahaa jaha bhi rem use karogoge va vaha jo default value 16px lag jayegi but hum html tag ke andar font-size ki madat se usko override bhi kar sakte hai */
/* html {
    font-size: 50px; 
} */

/* .parent{
    height: 400px;
    width: 50%;
    background-color: wheat;
}

.child{
    height: 50%;
    width: 50%;
    background-color: red
} */



/* h1{
    font-size: 2rem; /* 32px - in default case */
/* font-size: 2rem; 100px - in current if font size is 50px case
} */

/* 1rem = 16px */

/* .child{
    font-size:50px;
}

h1{
    font-size: 2em;
     em depends on the parents font size 
 } */


 /* vh = viewport height
 vw = viewport width
 */

 /* .parent{
    height: 100vh;
    width: 100vw;
    background-color: darkslategrey;
 } */

 /* 
 % --> depends on parent dimensions
 rem --> depends on root [html] font size
 em --> depends on parent font size
 vh --> depends on viewport height
 vw --> depends on viewport width
 */

 /* .parent{
    height: 100px;
    width: 100px;
    background-color: lightcoral;
 } */

/* 
min-width -- e.g 600px se jyada to toh media query lagegi 
max-width -- e.g 600px se chota to toh media query lagegi
*/

/* 
 @media (min-width:768px){ tablet 
    .parent{
        height: 200px;
        width: 200px;
        background-color: lightslategrey;
    }
 }
 @media (min-width:1024px){ dextop 
    .parent{
        height: 200px;
        width: 200px;
        background-color: lightslategrey;
    }
 }
 @media (min-width:1200px){ wide 
    .parent{
        height: 200px;
        width: 200px;
        background-color: lightslategrey;
    }
 } */

 /* break points - means what screen size we are dealing with */



 /* flex */
.parent{
    width: 300px;
    height: 300px;
    background-color: wheat;
    display: grid;
    /* how many columns */
    /* grid-template-columns:100px 300px 200px 100px; */
    /* how many rows */
    /* grid-template-rows: 100px 200px; */
    /* grid-template-areas:
    "a a ."
    "a a ."
    ". b c"; */
    grid-template-columns: repeat(3,1fr);
}

.child{
    /* height:300px; */
    background-color: red;
    border: 2px solid black;
    height: 100px;
}

.child-a{
    /* grid-area: a; */
    background-color: lawngreen;
}

.child-b{
    /* grid-area: b; */
    background-color: lightcoral;
}

.child-c{
    /* grid-area: c; */
    background-color: lightskyblue;
}
